/* src/App.css */

/* Global styles for body and HTML document */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: black;
  /* Prevents Scrollbars */
}

#root {
  height: 100%;
  width: 100%;
}

/* Styles for the main App component */
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Prevents Scrollbars */
}

.fade-in {
  height: 100%;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  -ms-animation: fadeIn 1s ease-in-out;
}

/* Styles for the Slideshow component */
.fade-in .slideshow {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Prevents Scrollbars */
}

.fade-in .slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centers the image */
}

.fade-in .slideshow video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centers the image */
}

.fade-in .slideshow.portrait {
  position: relative;
  width: 100%;
  height: 100%;
}

.fade-in .slideshow.portrait::before,
.fade-in .slideshow.portrait::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 33%;
}

.fade-in .slideshow.portrait::before {
  left: 0;
  background: linear-gradient(to right, var(--gradient-left));
}

.fade-in .slideshow.portrait::after {
  right: 0;
  background: linear-gradient(to right, var(--gradient-right));
}

.fade-in .slideshow.portrait img {
  width: auto;
  height: calc(100% + 60px);
  /* Increase height by 60px to crop top and bottom */
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  /* Zoom effect */
  z-index: 1;
}

.fade-in .slideshow.portrait video {
  width: auto;
  height: calc(100% + 60px);
  /* Increase height by 60px to crop top and bottom */
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  /* Zoom effect */
  z-index: 1;
}

/* Styles for the Overlay */
.fade-in .slideshow .overlay {
  position: absolute;
  top: 20px;
  right: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
  color: white;
  z-index: 1;
  /* Foreground layer above the Slideshow */
  border-radius: 10px;
  text-align: right;
  margin-bottom: 5px; /* Space below */
  font-size: 0.9em;
}

/* Styles for the DateTime display */
.datetime-container {
  color: #fff; /* White text color */
  z-index: 1; /* Foreground layer above the Slideshow */
}

.datetime {
  position: fixed; /* Use fixed positioning to fix it to the viewport */
  bottom: 20px; /* Adjust bottom spacing as needed */
  left: 20px; /* Adjust left spacing as needed */
  font-size: 2em; /* Larger font size */
  margin-bottom: 5px; /* Space below the time */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
}

.datetime .date {
  font-size: 1.2em; /* Size for the date */
}

.datetime .time {
  font-size: 2.2em; /* Size for the time */
  font-weight: bold; /* Bold time */
}

/* Styles for the Weather data */
.weather-container {
  color: white; /* White text color */
  text-align: right;
  z-index: 1; /* Foreground layer above the Slideshow */
}

.weather {
  position: fixed; /* Use fixed positioning to fix it to the viewport */
  bottom: 20px; /* Adjust bottom spacing as needed */
  right: 20px; /* Adjust left spacing as needed */
  font-size: 2em; /* Larger font size */
  margin-bottom: 5px; /* Space below the time */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
}

.weather .location {
  font-size: 1.2em;
  /* Larger font size for the location name */
  margin-bottom: 5px;
  /* Space below the location name */
  color: #fff;
  /* Text color for the location name */
}

.weather .weather-icon {
  width: 50px;
  /* Size of the weather icon */
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.weather .temperature {
  font-size: 1em; /* Larger font size for the temperature */
}

.weather .sun-times {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather .sun-times .sunrise,
.weather .sun-times .sunset {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 0.8em
}

.weather .sun-times .sunrise {
  margin-right: 10px;
}

.weather .sun-times .sunrise img,
.weather .sun-times .sunset img {
  width: 30px;
  height: 24px;
  margin-right: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .fade-in .slideshow .overlay {
    font-size: 0.6em
  }

  .datetime {
    font-size: 1.3em;
  }

  .weather-container {
    flex-direction: column;
  }

  .weather {
    font-size: 1.3em;
  }

  .weather .weather-icon {
    width: 40px;
    height: 40px;
  }

  .weather .sun-times {
    flex-direction: row;
    align-items: end;
  }

  .weather .sun-times .sunrise,
  .weather .sun-times .sunset {
    margin-right: 5px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .fade-in .slideshow .overlay {
    font-size: 0.8em
  }

  .datetime {
    font-size: 1.7em;
  }

  .weather-container {
    flex-direction: column;
  }

  .weather {
    font-size: 1.7em;
  }

  .weather .weather-icon {
    width: 45px;
    height: 45px;
  }

  .weather .sun-times {
    flex-direction: row;
    align-items: center;
  }

  .weather .sun-times .sunrise,
  .weather .sun-times .sunset {
    margin-right: 5px;
  }
}