/* src/App.css */

/* Global styles for body and HTML document */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Monaco', sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* Prevents Scrollbars */
}

/* Styles for the main App component */
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Prevents Scrollbars */
}

/* Styles for the Slideshow component */
.slideshow {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Prevents Scrollbars */
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centers the image */
}

/* Styles for the Overlay */
.overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  z-index: 1;
  /* Foreground layer above the Slideshow */
  border-radius: 10px;
}

/* Styles for the DateTime display */
.datetime-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  z-index: 1;
  /* Foreground layer above the Slideshow */
  border-radius: 10px;
}

.datetime {
  font-size: 2em;
  /* Larger font size */
  margin-bottom: 5px;
  /* Space below the time */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Text shadow for better readability */
  color: #fff;
  /* White text color */
}

.datetime .date {
  font-size: 1.5em;
  /* Size for the date */
}

.datetime .time {
  font-size: 2.5em;
  /* Size for the time */
  font-weight: bold;
  /* Bold time */
}

/* Styles for the Weather data */
.weather-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  z-index: 1;
  /* Foreground layer above the Slideshow */
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  /* Horizontal alignment */
  align-items: center;
  /* Vertical centering */
}

.weather {
  font-size: 1.2em;
  /* Larger font size for the entire weather block */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  font-size: 1.5em;
  /* Larger font size for the location name */
  margin-bottom: 5px;
  /* Space below the location name */
  color: #fff;
  /* Text color for the location name */
}

.weather .weather-info {
  display: flex;
  align-items: center;
}

.weather .weather-info .weather-icon {
  width: 50px;
  /* Size of the weather icon */
  height: 50px;
  margin-right: 10px;
}

.weather .weather-info .temperature {
  font-size: 1.5em;
  /* Larger font size for the temperature */
}

.sun-times {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.sun-times .sunrise,
.sun-times .sunset {
  display: flex;
  align-items: center;
  margin: 5px 0;
  margin-right: 10px;
}

.sun-times .sunrise img,
.sun-times .sunset img {
  width: 30px;
  height: 24px;
  margin-right: 5px;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  -ms-animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .datetime {
    font-size: 1.5em;
  }

  .datetime .date {
    font-size: 1em;
  }

  .datetime .time {
    font-size: 2em;
  }

  .weather-container {
    flex-direction: column;
    padding: 5px;
  }

  .weather {
    font-size: 1em;
  }

  .weather .weather-info .weather-icon {
    width: 40px;
    height: 40px;
  }

  .weather .weather-info .temperature {
    font-size: 1.2em;
  }

  .sun-times {
    flex-direction: column;
    align-items: center;
  }

  .sun-times .sunrise,
  .sun-times .sunset {
    margin-right: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .datetime {
    font-size: 1.8em;
  }

  .datetime .date {
    font-size: 1.2em;
  }

  .datetime .time {
    font-size: 2.2em;
  }

  .weather-container {
    flex-direction: column;
    padding: 8px;
  }

  .weather {
    font-size: 1.1em;
  }

  .weather .weather-info .weather-icon {
    width: 45px;
    height: 45px;
  }

  .weather .weather-info .temperature {
    font-size: 1.3em;
  }

  .sun-times {
    flex-direction: row;
    align-items: center;
  }

  .sun-times .sunrise,
  .sun-times .sunset {
    margin-right: 5px;
  }
}